version: "3.9"
services:
  db:
    image: postgres
    container_name: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgresdb
  web:
    image: billzzhang/shopify-2021-backend:latest
    container_name: image-repo
    volumes:
      - .:/shopify-2021-backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_USERNAME: postgres
      DB_PASSWORD: password
      DB_NAME: postgresdb
      DB_PORT: 5432
      DB_HOST: db
      DB_ADAPTER: postgresql
      SAFE_HOSTS: localhost
volumes:
  postgres-data:
    driver: local